* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body {
    transition: background 0.2s linear;
    background-color: #f7f7f7;
    color: #16151C;
    border-color: #16151C;
}

body.dark {
    background-color: #2d2b33;
    color: #f7f7f7;
}

.caixa_titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 30px;
    color: #16151C;
}

.titulo .dark {
    color: #f7f7f7;
}

table,
th,
td,
tr {
    border: 1px solid #16151C;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    vertical-align: center;
}

.fonte {
    text-align: center;
    font-size: 12px;
}

.caixa_principal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.caixa_calculadora {
    width: 50%;
}

.calculadora {
    border: 3px solid #16151C;
    border-radius: 20px;
    margin-bottom: 10px;
    flex-direction: column;
}

.calculadora>div {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.caixa_entradas_dados>span {
    text-align: center;
    flex: 1;
}

.entrada_dados {
    border: 1px solid #16151C;
    border-radius: 20px;
    padding: 5px;
}


#botao_calcular {
    background-color: #16151C;
    color: #f7f7f7;
    padding: 10px;
    width: 200px;
    border: #16151C;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
}

#resultado {
    text-align: center;
}

.modo_noturno {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #16151C;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 15px;
    width: 30px;
    transform: scale(1.5);
}

.label .bola {
    background-color: #f7f7f7;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 11px;
    width: 11px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .bola {
    transform: translateX(15px);
}

footer {
    background-color: #16151C;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer>span {
    color: #f7f7f7;
    padding-left: 5%;
    padding-right: 5%;
}

.prototipo_logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f7f7f7;
    padding: 5px;
    border: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
}

.icones_rodape {
    color: #f7f7f7;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .caixa_principal {
        flex-direction: column;
        margin-bottom: 20%;
    }

    .caixa_principal>span {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .caixa_calculadora {
        width: 70%;
    }

    .caixa_entradas_dados {
        flex-direction: column;
    }

    .caixa_entradas_dados>span {
        margin-top: 5%;
        text-align: center;
    }

    footer {
        flex-direction: column;
        height: 22%;
        position: relative;
    }

    footer>span {
        margin-top: 15px;
    }

    #icons {
        margin-bottom: 10px;
    }
}